{% from "includes/navigation.html" import nav_link, nav_btn with context %}
{% from "includes/macros.html" import preferences with context %}

<div class="bg-neutral-50 dark:bg-neutral-800 h-fit md:h-screen w-full md:w-80 static p-4 md:p-8 flex flex-col">
  <div class="w-full hidden md:block">
    <h1 class="font-light text-3xl mb-2">Dating App</h1>
    <hr class="border"/>
    <span class="flex flex-row items-center justify-between py-4 gap-4 max-w-full overflow-wrap">
      <span class="flex flex-row items-center gap-1">
        <a href="{{url_for('dating.profile')}}" >
          <img class="rounded-full h-8 w-8 object-cover" src="{{get_image_path(active_user.username, active_user.pictures[0])}}"/>
        </a>
        {% include "_user_switch.html" %}
      </span>
      {{preferences()}}
    </span>
  </div>
  <nav class="flex flex-row md:flex-col flex-1 md:gap-4 justify-between md:justify-normal">
    {{nav_link('Profiles', url_for('dating.index'), 'home')}}
    {{nav_link('Likes', url_for('dating.likes'), 'heart')}}
    {{nav_link('Messages', url_for('messages.messages'), 'send')}}
    {{nav_link('Community', url_for('messages.communities'), 'users')}}
    <div class="md:hidden ">
      {% call nav_link('Profile', '/profile', 'circle') %}
      <img class="rounded-full w-6 h-6" src="{{get_image_path(active_user.username, active_user.pictures[0])}}">
      {% endcall %}
    </div>

    <div class="md:mt-auto hidden md:block">
      {{nav_link('Settings', '/settings', 'settings')}}
      {{nav_btn('Reload JSON', '/reload_json', 'rotate-ccw')}}
    </div>

  </nav>
</div>
