<div x-data="{ 
             open: false, 
             toggle() {
              if (this.open) {
                    return this.close()
                }
 
                this.$refs.button.focus()
 
                this.open = true
            },
            close(focusAfter) {
                if (! this.open) return
 
                this.open = false
 
                focusAfter && focusAfter.focus()
            },
            async selectUser(username) {
            const response = await fetch('{{url_for('active_user')}}', {
                  method: 'POST',
                  headers: {
                      'Content-Type': 'application/json',
                  },
                  body: JSON.stringify({ 
                      id: username 
                  })
              });
              
               // Handle successful response
               const result = await response.json();
              window.location.reload();
             }
             }" 
  class="flex flex-col md:flex-row md:justify-end" @click.outside="open = false">
  <div  class="relative">
    <button x-ref="button" x-on:click="toggle()" id="dropdown-btn" class="px-2 py-1 rounded-md flex flex-row items-center gap-1 hover:bg-gray-200">
      <p class="font-semibold">{{active_user['name']}}</p> 
      <i class="w-4 h-4" data-feather="chevron-down"></i> 
    </button>
    <div x-transition.origin.top.left x-show="open" style="display: none;" class="absolute w-48 mt-2">
      <div class="bg-white rounded-md border border-solid border-gray-200">
        {% for user in users %}
        <button x-on:click="selectUser('{{user['username']}}')" class="text-left hover:bg-gray-200 rounded-sm block w-full px-4 py-2">{{user['name']}}</button>
        {% endfor %}
      </div>
    </div>
  </div>
</div >

