{% import "components/forms.html" as forms %}

{% macro preferences() %}
<div x-data="{modalOpen: false}">
  <button @click="modalOpen = true" class="p-2">
    <i data-feather="sliders"></i>
  </button>
  <div 
    role="dialog"
    x-show="modalOpen"
    @click.away="modalOpen = false"
    class="flex items-center justify-center fixed z-20 w-full h-full top-0 left-0 bg-neutral-950/30"
    style="display: none;"
  >
    <div class="bg-neutral-50 p-8 rounded-md w-full m-8 md:w-96 md:m-0">
      <span class="flex flex-row items-center justify-between">
        <h1 class="text-2xl font-bold mb-2">Preferences</h1>
        <button @click="modalOpen=false">
          <i data-feather="x"></i>
        </button>
      </span>
      <form>
        <h2 class="block text-lg font-semibold mb-1">Gender</h2>
        <div class="flex flex-col gap-4 mb-4">
          {{forms.checkbox("Male", "male")}}
          {{forms.checkbox("Female", "female")}}
          {{forms.checkbox("Non-binary", "nonbinary")}}
        </div>
        <h2 class="text-lg font-semibold mb-1">Age</h2>
        <div class="flex flex-col gap-4 mb-4">
          {{forms.number_input("age-min", "Minimum Age", 18)}}
          {{forms.number_input("age-max", "Maximum Age", 99)}}
        </div>
        <h2 class="text-lg font-semibold mb-1">Distance</h2>
        <div class="flex flex-col gap-4 mb-4">
          {{forms.range_input(1, 150, "distanceKms", "Distance (kms)", "km")}}
        </div>
      </form>
    </div>
  </div>
</div>
{% endmacro %}

{% macro no_profiles() %}
<div class="flex h-full w-full flex-col items-center justify-center md:rounded-3xl overflow-y-scroll bg-neutral-50 ">
  <h2 class="text-3xl font-bold text-accent-500 mb-2">You've seen everyone!</h2>
  <p class="text-sm font-semibold">Why not adjust your filters?</p>
</div>
{% endmacro %}

{% macro profile(user, featherIcon=None, buttonClick="") %}
<div class="flex h-full w-full flex-col md:rounded-3xl overflow-y-scroll bg-neutral-50 text-neutral-50">
  <div class="relative flex z-10 flex-col h-full w-full shadow-md">
    <div class="absolute h-full z-5 w-full object-cover bg-gradient-to-t from-neutral-950/60 to-40%"></div>
    <img class="absolute flex -z-10 flex-col h-full w-full object-cover " src="{{get_image_path(user.username, user.pictures[0])}}"/>
    {% if featherIcon %}
    <button @click="{{buttonClick}}"  class="ml-auto z-10 m-4 p-2 rounded-full bg-accent-500">
    <i class="w-4 h-4" data-feather={{featherIcon}}></i>
    {% endif %}
    </button>
    <div class="p-4 mt-auto z-10">
      <span class="flex flex-row items-center gap-4">
        <h2 class="font-bold text-3xl">{{user['name']}}</h2>
        <p class="text-xl">{{user['age']}}</p>
      </span>
      <p>{{user['location']}}</p>
    </div>
  </div>
  <div class="min-h-fit max-h-72 px-4 py-4 overflow-y-scroll bg-neutral-50 dark:bg-neutral-800 dark:text-neutral-100">
    {% call profile_section("Bio", False) %}
    <p>
      Lorem ipsum odor amet, consectetuer adipiscing elit. Primis ornare sagittis commodo lacus torquent. Nibh nullam ex purus accumsan cubilia laoreet nisl. 
    </p>

    {% endcall %}
  </div>
</div>
{% endmacro %}

{% macro edit_profile(user, closeButton="") %}
<form class="flex flex-col bg-neutral-50 p-4 rounded-lg shadow-md">
  <span class="w-full flex flex-row items-center justify-between">
  <h2 class="text-3xl font-bold">Edit Profile</h2>
  <button class="p-2 w-fit bg-accent-500 text-neutral-50 rounded-full" @click={{closeButton}}>
    <i class="w-4 h-4" data-feather="x"></i>
  </button>
  </span>

  <h3 class="text-2xl font-semibold mb-2 mt-4">Images</h3>
  <div class="grid grid-cols-3 gap-8">
    {% for img in user['pictures']  %}
    <img class="w-48 h-48 object-cover rounded-md" src="{{get_image_path(user.username, img)}}">
    {% endfor %}
    {% for i in range(6-user['pictures']|length) %}
    <div class="w-48 h-48 rounded-md bg-neutral-100 flex items-center justify-center"><i class="w-8 h-8" data-feather="plus-circle"></i></div>
    {% endfor %}
  </div>

  <h3 class="text-2xl font-semibold mb-2 mt-4">Bio</h3>
  <p contenteditable>{{user['bio']}}</p>
</form>
{% endmacro %}

{% macro profile_section(title, has_divider=True) %}
<div class="text-neutral-900 dark:text-neutral-100 ">
  <h3 class="text-2xl font-semibold mb-1">{{title}}</h3>
  {{caller()}}
  {% if has_divider == True %}
  <hr class="my-4 border-light-300">
  {% endif %}
</div>
{% endmacro %}

{% macro profile_buttons() %}
<div class="flex mb-4 px-4 flex-row items-center gap-4 font-bold text-white ">
  <button class="py-4 bg-red-500 hover:bg-red-600 flex flex-row items-center justify-center gap-1 rounded-lg w-full">
    <i data-feather="x-circle" class="h-6 w-6"/></i>
    <p class="w-fit">Nope</p>
  </button>
  <button class="py-4 bg-green-500 hover:bg-green-600 flex flex-row items-center rounded-lg w-full justify-center gap-1 ">
    <i data-feather="heart" class="h-6 w-6"/></i>
    <p>Like</p>
  </button>
</div>
{% endmacro %}





