{% from "includes/macros.html" import preferences with context %}

{% macro nav_link(label, href, icon, number="") %}
{% if request.path == href %}
{% if caller %} 
<a href="{{href}}">
    {{caller()}}
</a>
{% else %}
<a href="{{href}}" class="block bg-accent-500 text-neutral-50 transition-all p-2 rounded-md">
  <span class="flex flex-row gap-2 items-center">
        <i data-feather={{icon}} class="h-6 w-6"></i>
  <p class="hidden md:inline font-semibold font-sans text-lg">{{label}}</p>
  </span>
  <p class="hidden md:inline">{{number}}</p>
</a>

{% endif %}
{% else %}
<a href="{{href}}" class="block hover:bg-accent-500 hover:text-neutral-50 transition-all p-2  rounded-md">
  <span class="flex flex-row gap-2 items-center">
    {% if caller %}
    {{caller()}}
    {% else %}
    <i data-feather={{icon}} class="h-6 w-6"></i>
    {% endif %}
  <p class="hidden md:inline font-semibold font-sans text-lg">{{label}}</p>
  </span>
  <p class="hidden md:inline">{{number}}</p>
</a>
{% endif %}
{% endmacro %}

{% macro nav_btn(label, href, icon, number="") %}
<form x-data="{
    async submitReload() {
      const response = await fetch('{{url_for('reload_json')}}', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: {}
      });
      window.location.reload()
    }
    }" @submit.prevent="submitReload">
<button type="submit" class="block hover:bg-accent-500 hover:text-white transition-all p-2  rounded-md">
  <span class="flex flex-row gap-2 items-center">
    <i data-feather={{icon}} class="h-6 w-6"></i>
  <p class="hidden md:inline font-semibold font-sans text-lg">{{label}}</p>
  </span>
  <p class="hidden md:inline">{{number}}</p>
</button>
</form>
{% endmacro %}

{% macro mobile_header() %}
<div class="block md:hidden px-8 py-4 top-0 bg-light-50 ">
<div class="w-full flex flex-row items-center justify-between">
  {% if caller %}

  {% else %}
  <span class="flex flex-col gap-2">
  <h1 class="font-light text-3xl">Dating App</h1>
  <p>{{title}}</p>
  </span>
    {{preferences()}}
  {% endif %}
</div>
</div>
{% endmacro %}




