{% from "includes/macros.html" import preferences with context %}

{% macro nav_link(label, href, icon, number="") %}
{% if request.path == href %}
<a href="{{href}}" class="block bg-orange-500 text-white transition-all p-2 rounded-md">
  <span class="flex flex-row gap-2 items-center">
    <i data-feather={{icon}} class="h-6 w-6"></i>
  <p class="hidden md:inline font-semibold font-sans text-lg">{{label}}</p>
  </span>
  <p class="hidden md:inline">{{number}}</p>
</a>
{% else %}
<a href="{{href}}" class="block hover:bg-orange-500 hover:text-white transition-all p-2  rounded-md">
  <span class="flex flex-row gap-2 items-center">
    <i data-feather={{icon}} class="h-6 w-6"></i>
  <p class="hidden md:inline font-semibold font-sans text-lg">{{label}}</p>
  </span>
  <p class="hidden md:inline">{{number}}</p>
</a>
{% endif %}
{% endmacro %}

{% macro nav_btn(label, href, icon, number="") %}
<form x-data="{
    async submitData() {
        this.loading = true;
        try {
            // Using Alpine's $fetch magic method
            this.data = await this.$fetch('/api/endpoint', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
            body: {}
        });
            
            // Handle successful response
           window.location.reload(); 
        } catch (error) {
            console.error('Error:', error);
        } finally {
            this.loading = false;
        }
    }
  }">
<button type="submit" class="block hover:bg-orange-500 hover:text-white transition-all p-2  rounded-md">
  <span class="flex flex-row gap-2 items-center">
    <i data-feather={{icon}} class="h-6 w-6"></i>
  <p class="hidden md:inline font-semibold font-sans text-lg">{{label}}</p>
  </span>
  <p class="hidden md:inline">{{number}}</p>
</button>
</form>
{% endmacro %}

{% macro mobile_header() %}
<div class="block md:hidden px-8 py-4 sticky top-0 bg-light-50 ">
<div class="w-full flex flex-row items-center justify-between">
  <span class="flex flex-col gap-2">
  <h1 class="font-light text-3xl">Dating App</h1>
  <p>{{title}}</p>
  </span>
    {{preferences()}}
</div>
</div>
{% endmacro %}




