{% macro chat_display(user, chat) %}
<a href="{{url_for('.chat', user=user.username)}}" class="flex flex-row items-center hover:bg-neutral-100 p-4 rounded-lg gap-4 dark:hover:bg-neutral-700">
    <img src="{{get_image_path(user.username, user.pictures[0])}}" class="w-12 h-12 object-cover rounded-full"/>
    <span class="flex flex-col leading-none flex-1">
    <p class="font-bold text-lg">{{user.name}}</p>
    <p class="overflow-ellipsis">{{chat.messages[chat.messages|length-1].message}}</p>
    </span>
    {% if chat.messages[chat.messages|length-1].sender_id == user.username %}
      <span class="bg-accent-500 rounded-md text-neutral-50 text-sm px-2 py-1">
        Your Move
      </span>
    {% endif %}
    <p class="text-sm">8:59</p>
</a>
{%endmacro %}

{% macro message_display(message, active_user) %}
  {% if message.sender_id == active_user.username %}
  <div class="ml-auto w-fit">
    <span class="flex flex-row items-start gap-2">
    <p class="bg-accent-500 text-neutral-50 p-2 rounded-md max-w-64">
    {{message.message}}
    </p>
    </span>
  </div>
  {% else %}
  <div class="w-fit">
    <span class="flex flex-row items-start gap-2">
    <p class="bg-neutral-50 dark:bg-neutral-800 p-2 rounded-md max-w-64">
    {{message.message}}
    </p>
    </span>
  </div>
  {% endif %}
{% endmacro %}

{% macro message_box(user, active_user) %}
<div x-data="messageBox" class="mx-4 bg-neutral-50 dark:bg-neutral-800 rounded-lg shadow-md overflow-clip">
  <form @submit.prevent="sendMessage" id="messageboxform" class="flex flex-row gap-2 w-full h-full">
    <input x-model="message" name="message" id="message" class="resize-none bg-neutral-50 dark:bg-neutral-800 placeholder:text-neutral-400 grow py-2 px-4 focus:outline-none" type="text" placeholder="Send a message">
    <button type="submit" class="p-4 bg-accent-500 text-neutral-50"><i data-feather="send"></i></button>
  </form>
</div>
<script>
document.addEventListener('alpine:init', () => {
            Alpine.data('messageBox', () => ({
                message: '',
            
                sendMessage() {
            socket.emit("chatmessage", {sender_id: "{{active_user.username}}", receiver_id: "{{user.username}}", message:this.message}) 
                }
            }));
        });
</script>
{% endmacro %}



