{% macro nav_link(label, href, icon, number="") %}
{% if request.path == href %}
<a href="{{href}}" class="block bg-orange-500 text-white transition-all p-4 lg:p-2 rounded-2xl lg:rounded-md">
  <span class="flex flex-row gap-2 items-center">
    <i data-feather={{icon}} class="w-12 h-12 lg:h-6 lg:w-6"></i>
  <p class="hidden lg:inline font-semibold font-sans text-lg">{{label}}</p>
  </span>
  <p class="hidden lg:inline">{{number}}</p>
</a>
{% else %}
<a href="{{href}}" class="block hover:bg-orange-500 hover:text-white transition-all p-4 lg:p-2 rounded-2xl lg:rounded-md">
  <span class="flex flex-row gap-2 items-center">
    <i data-feather={{icon}} class="w-12 h-12 lg:h-6 lg:w-6"></i>
  <p class="hidden lg:inline font-semibold font-sans text-lg">{{label}}</p>
  </span>
  <p class="hidden lg:inline">{{number}}</p>
</a>
{% endif %}
{% endmacro %}

{% macro preferences() %}
  <button class="p-2">
  <i data-feather="sliders"></i>

</button>
{% endmacro %}


{% macro oldprofile(user) %}
<div class="relative flex flex-col items-center rounded-xl w-72 mx-auto p-4 bg-white bg-clip-border shadow-3xl shadow-shadow-500 m-5 dark:!bg-navy-800 dark:text-white dark:!shadow-none" style="margin:20px;">
  <div class="relative flex h-32 w-full justify-center rounded-xl bg-cover">
    <img src="{{user["profile_pictures"][1]}}" class="absolute flex h-32 w-full justify-center rounded-xl bg-cover">
    <div class="absolute -bottom-12 flex h-[87px] w-[87px] items-center justify-center rounded-full border-[4px] border-white bg-black-400 dark:!border-navy-700">
      {% set firstpic = user['profile_pictures'][0] %}
      <img class="h-full w-full rounded-full" src="{{firstpic | default('https://st2.depositphotos.com/2586633/46477/v/600/depositphotos_464771766-stock-illustration-no-photo-or-blank-image.jpg')}}" alt="" />
    </div>

     {% set secondpic = user['profile_pictures'][0] %}
    <img class="h-full w-full rounded-full" src="{{secondpic | default('https://st2.depositphotos.com/2586633/46477/v/600/depositphotos_464771766-stock-illustration-no-photo-or-blank-image.jpg')}}" alt="" /  >
  </div>
  <div class="mt-16 flex flex-col items-center">
    <h4 class="text-xl font-bold text-navy-700 dark:text-white">{{user['name']}}</h4>
    <p class="text-base font-normal text-gray-600" style="width: 250px;align-content: center; text-align: center;">{{user['bio']}}</p>
  </div>
  <div class="mt-6 flex gap-14 md:!gap-14 justify-center" style=" padding: 10px; border-top: 1px solid whitesmoke;">
    <div class="flex flex-col items-center justify-center">
      <p class="font-bold text-navy-700 dark:text-white">{{user['age']}}</p>
      <p class="text-sm font-normal text-gray-600">Age</p>
    </div>
    <div class="flex flex-col items-center justify-center">
      <p class="font-bold text-navy-700 dark:text-white">{{user['gender']}}</p>
      <p class="text-sm font-normal text-gray-600">Gender</p>
    </div>
    <div class="flex flex-col items-center justify-center">
      <p class="font-bold text-navy-700 dark:text-white">{{user['location']}}</p>
      <p class="text-sm font-normal text-gray-600">Location</p>
    </div>
  </div>
</div>



{% endmacro %}


{% macro profile(user) %}
<div class="relative flex flex-col h-full w-full md:w-96 md:h-[700px] shadow-lg rounded-3xl bg-gradient-to-t from-black/30 to-40% overflow-hidden text-white">
  <img class="absolute h-full w-full src={{user['profile_pictures'][0]}}"/>
  <div class="p-4 mt-auto">
  <span class="flex flex-row items-center gap-4">
  <p class="font-bold text-4xl lg:text-3xl">{{user['name']}}</p>
  <p class="text-xl">{{user['age']}}</p>
  </span>
  <p >
  Lorem ipsum odor amet, consectetuer adipiscing elit. Primis ornare sagittis commodo lacus torquent. Nibh nullam ex purus accumsan cubilia laoreet nisl. </p>
  </div>



</div>
{%endmacro %}
