{% macro community_tag(tag) %}
	<p class="italic text-neutral-500 text-xs">#{{tag}}</p>
{% endmacro %}

{% macro community_group(title) %}
<section class="mb-4">
	<h3 class="text-xl font-semibold mb-1">{{title}}</h3>
	<hr class="border-t border-neutral-200 mb-2"/>
	<div class="grid grid-cols-3 gap-4">
		{{caller()}}
	</div>

	<a class="flex w-fit cursor-pointer p-2 rounded hover:bg-accent-500 flex-row items-center text-sm text-accent-500 hover:text-neutral-100 gap-1 mt-2 font-bold">See more<i data-lucide="arrow-right" class="w-4 h-4"></i></a>
</section>

{% endmacro %}

{% macro community(href="") %}
<a href="{{href}}" class="bg-neutral-100 rounded p-4">
	<div class="flex flex-row items-center gap-1">
		<div class="w-6 h-6 rounded-full bg-neutral-500"></div>
		<h2 class="font-sans text-xl font-bold">Community</h2>
	</div>
	<p class="mt-2 text-sm">This is an example community. This is where the description goes. Communities function as group chats.</p>
	<div class="flex flex-row mt-2">
		{{community_tag("Hello")}}
	</div>
</a>
{% endmacro %}


