{% from "message-macros.html" import message_display,message_box with context %}
{% extends "base.html" %}

{% block content %}
<div class="flex flex-col h-full">
<div class="flex flex-row items-center bg-white w-full p-4 gap-2">
    <div class="w-8 h-8 block bg-light-100 rounded-full"></div>
        <p>{{user.name}}</p>
</div>
<div id="messageDisplay" class="flex flex-col grow gap-4 p-8 overflow-scroll">
{% for message in chat.messages %}
        {{message_display(message, active_user)}}
{% endfor %}
</div>
{{message_box(user, active_user)}}
</div>
{% endblock %}

