{% macro chat_display(user, chat) %}
<a href="{{url_for('.chat', user=user.username)}}" class="flex flex-row items-center hover:bg-light-50 p-4 rounded-lg gap-4">
    <div class="min-w-12 min-h-12 bg-light-300 rounded-full"></div>
    <span class="flex flex-col leading-none flex-1">
    <p class="font-bold text-lg">{{user.name}}</p>
    <p class="overflow-ellipsis">{{chat.messages[chat.messages|length-1].message}}</p>
    </span>
    {% if chat.messages[chat.messages|length-1].sender_id == user.username %}
      <span class="bg-accent-500 rounded-md text-light-50 text-sm px-2 py-1">
        Your Move
      </span>
    {% endif %}
    <p class="text-sm">8:59</p>
</a>
{%endmacro %}

{% macro message_display(message, active_user) %}
  {% if message.sender_id == active_user.username %}
  <div class="ml-auto w-fit">
    <span class="flex flex-row items-start gap-2">
    <p class="bg-accent-500 text-light-50 p-2 rounded-md max-w-64">
    {{message.message}}
    </p>
    </span>
  </div>
  {% else %}
  <div class="w-fit">
    <span class="flex flex-row items-start gap-2">
    <p class="bg-light-100 p-2 rounded-md max-w-64">
    {{message.message}}
    </p>
    </span>
  </div>
  {% endif %}
{% endmacro %}

{% macro message_box(user, active_user) %}
<div x-data="messageBox" class="mx-4 my-2 rounded-lg shadow-md w-full md:w-4/5 h-16 mx-auto bg-white overflow-clip">
  <form @submit.prevent="sendMessage" id="messageboxform" class="flex flex-row gap-2 w-full h-full">
    <input x-model="message" @keydown.enter="sendMessage" name="message" id="message" class="resize-none grow py-2 px-4 focus:outline-none" type="text" placeholder="Send a message">
    <button type="submit" class="p-4 bg-orange-500 text-light-50"><i data-feather="send"></i></button>
  </form>
</div>
<script>
document.addEventListener('alpine:init', () => {
            Alpine.data('messageBox', () => ({
                message: '',

                async sendMessage() {
                    console.log("Hello")
                    try {
                        const response = await fetch("{{ url_for('messages.send_message', user=user.username) }}", {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({
                                message: this.message
                            })
                        });

                        // Reload the page after successful submission
                        window.location.reload();
                        
                    } catch (error) {
                        console.error('Error:', error);
                        alert('Failed to send message');
                        this.loading = false;
                    }
                }
            }));
        });
</script>
{% endmacro %}



