{% from "message-macros.html" import chat_display with context %}

{% extends 'base.html' %}

{% block content %}
{% if chats|length > 0 %}
<div class="w-full flex flex-col p-4 bg-neutral-50">
    <div class="flex flex-col mx-4 gap-4 bg-neutral-50 dark:bg-neutral-800">
        {% for chat in chats %}
            {{chat_display(chat.user, chat.chat)}}
        {% endfor %}
    </div>
</div>
    {% else %}
    <div class="flex justify-center items-center w-full h-full">
        <h2 class="text-3xl font-bold text-accent-500 bg-neutral-50 p-4 rounded-md shadow-sm">No messages yet</h2>
    </div>
    {% endif %}
{% endblock %}
