{% if request.path == item.href %}
<a href="{{item.href}}" class="block bg-orange-500 text-white transition-all p-2 rounded-md">
  <span class="flex flex-row gap-2 items-center">
    <i data-feather={{item.icon}} class="w-12 h-12 lg:h-6 lg:w-6"></i>
  <p class="hidden lg:inline font-semibold font-sans text-lg">{{item.label}}</p>
  </span>
  <p>{{item.num}}</p>
</a>
{% else %}
<a href="{{item.href}}" class="block hover:bg-orange-500 hover:text-white transition-all p-2 rounded-md">
  <span class="flex flex-row gap-2 items-center">
    <i data-feather={{item.icon}} class="w-12 h-12 lg:h-6 lg:w-6"></i>
  <p class="hidden lg:inline font-semibold font-sans text-lg">{{item.label}}</p>
  </span>
  <p>{{item.num}}</p>
</a>
{% endif %}
