{% from "includes/macros.html" import profile,profile_buttons,no_profiles with context %}
{% from "dating-macros.html" import match_popup with context %}

{% extends 'base.html' %}

{% block title %}
  Home
{% endblock title%}

{% block header %}

{% endblock header %}

{% block content %}
  <div x-data="{showMatch: false}" class="flex flex-col w-full h-full justify-center items-center">
  <div class="absolute" x-show="showMatch" style="display: none;">
  {{match_popup(user)}}
  </div>
    <div x-show="!showMatch" class="h-full w-full grow md:max-h-[750px] md:w-[450px] md:shadow-lg rounded-3xl  ">
      <!-- {% if user %} -->
      <!-- {{profile(user, hasButtons=True)}} -->
      <!-- {% else %} -->
      <!-- {{no_profiles()}} -->
      <!-- {% endif %} -->
      {{match_popup(user)}}
    </div>
  </div>
{% endblock content%}
