{% import "includes/macros.html" as macros with context %}
{% extends 'base.html' %}


{% block content %}
<div x-data="{editingProfile: true}"class="flex flex-col w-full h-full justify-center items-center">
<div x-show="!editingProfile" class="h-full w-full md:w-[450px] grow md:max-h-[750px] md:shadow-md">
{{macros.profile(current_user, "edit-2", "editingProfile = true")}}
</div>
<div x-show="editingProfile" style="display: none;">
{{macros.edit_profile(current_user, "editingProfile=false")}}
</div>
</div>
{% endblock %}
