{% from "includes/navigation.html" import mobile_header %}
{% from "community/macros/community.html" import community, community_group %}

{% extends 'basic.html' %}

{% block title %}
  Community
{% endblock title %}

{% block header %}

{% endblock header %}

{% block mobile_header %}
    {{mobile_header(currentPreferences)}}
{% endblock %}


{% block content %}
<div class="w-fit m-8 rounded-lg bg-neutral-50 px-8 py-4 ">
	<h2 class="text-3xl font-bold mb-2">Community</h2>
	{% call community_group("Popular") %}
	{% for i in range(3) %}
	{{community()}}
	{% endfor %}
	{% endcall %}
	{% call community_group("Support") %}	
		{% for i in range(3) %}
		{{community()}}
		{% endfor %}
	{%endcall %}
</div>
{% endblock content %}


