{% extends 'basic.html' %}

{% block title %}
  Community
{% endblock title %}

{% block header %}

{% endblock header %}

{% block content %}
  <div class="w-full h-full p-8 ">
    <div class="bg-neutral-50 p-4 rounded-lg">
    <h2 class="text-3xl font-bold">Community</h2>
      <h3 class="text-xl font-semibold">Support</h3>
    <div class="grid grid-cols-3 gap-8">
        {% for i in range(6) %}
          <div class="h-48 bg-neutral-100"></div>
        {% endfor %}
    </div>
      <a class="flex flex-row items-center text-sm text-accent-500 gap-1 font-bold">See more<i data-feather="arrow-right" class="w-4 h-4"></i></a>
    </div>


  </div>
{% endblock content %}


