{% import "components/forms.html" as forms %}

{% macro preferences(preferences) %}
<form x-data="modal" hx-post="/api/preferences" hx-swap="outerHTML">
  <button type="button" @click="open()" class="p-2">
    <i data-lucide="sliders"></i>
  </button>
  <div
    role="dialog"
    x-show="modalOpen"
    class="flex items-center justify-center fixed z-20 w-full h-full top-0 left-0 bg-neutral-950/30"
    style="display: none;"
  >
    <div class="bg-neutral-50 dark:bg-neutral-800 p-8 rounded-md w-full m-8 md:w-96 md:m-0">
      <span class="flex flex-row items-center justify-between">
        <h1 class="text-2xl font-bold mb-2">Preferences</h1>
        <button type="button" @click="close()">
          <i data-lucide="x"></i>
        </button>
      </span>
      <div>
        <h2 class="block text-lg font-semibold mb-1">Gender</h2>
        <div class="flex flex-col gap-4 mb-4">
          {{forms.checkbox("Male", "male", preferences.gender.male)}}
          {{forms.checkbox("Female", "female", preferences.gender.female)}}
          {{forms.checkbox("Non-binary", "nonbinary", preferences.gender.nonbinary)}}
        </div>
        <h2 class="text-lg font-semibold mb-1">Age</h2>
        <div class="flex flex-col gap-4 mb-4">
          {{forms.number_input("age-min", "Minimum Age", preferences.age_min)}}
          {{forms.number_input("age-max", "Maximum Age", preferences.age_max)}}
        </div>
        <h2 class="text-lg font-semibold mb-1">Distance</h2>
        <div class="flex flex-col gap-4 mb-4">
          {{forms.range_input(1, 150, "distanceKms", "Distance (kms)", "km", preferences.distance_meters/1000)}}
        </div>
        <button type="submit" class="bg-accent-500 dark:bg-accent-300 rounded-md px-2 py-1 hover:bg-accent-600 dark:hover:bg-accent-300 focus:outline-none focus:ring-2 focus:ring-accent-500 focus:ring-offset-2 text-neutral-50 dark:text-neutral-950">Save changes</button>
      </div>
    </div>
  </div>
</form>
{% endmacro %}

{% macro no_profiles() %}
<div class="flex h-full w-full flex-col items-center justify-center md:rounded-3xl overflow-y-scroll bg-neutral-50 ">
  <h2 class="text-3xl font-bold text-accent-500 mb-2">You've seen everyone!</h2>
  <p class="text-sm font-semibold">Why not adjust your filters?</p>
</div>
{% endmacro %}

{% macro profile_section(title, has_divider=True, image=None, height="auto") %}
<div class="text-neutral-900 dark:text-neutral-100 my-4">
  {% if image %} 
  <div class="h-{{height}} w-full mb-4">
    <img class="w-full h-full object-cover" src="{{image}}">
  </div>
  {% endif %}
  <div class="px-4 py-2">
  <h3 class="text-2xl font-semibold mb-1">{{title}}</h3>
  {{caller()}}
    </div>
</div>
{% if has_divider == True %}
  <hr class="my-1 border-light-300">
{% endif %}
{% endmacro %}

{% macro profile_facts(user) %}
<div class="px-4 py-2">
    <ul class="flex flex-col  space-y-2 bg-neutral-100 text-neutral-900 p-2 rounded-md divide-y">
  <li class="flex flex-row items-center gap-1 font-semibold">
    <i class="w-4 h-4" data-lucide="user"></i>
      <p>{{user["gender"]}}</p>
  </li>
<li class="flex flex-row items-center gap-1 font-semibold">
    <i class="w-4 h-4" data-lucide="map-pin"></i>
      <p>{{user["location"]}}</p>
  </li>



  </ul>
</div>
{% endmacro %}


{% macro profile(user, lucideIcon=None, buttonClick="", hasButtons=False, shown="true") %}
<div x-ref="profileWrapper" x-data="userProfile('{{shown}}')" class="h-full w-full md:rounded-3xl overflow-y-scroll bg-neutral-50 text-neutral-50">
  <div :style="`height: ${height}px`" class="relative flex z-10 flex-col w-full shadow-md">
    <div class="absolute h-full z-5 w-full object-cover bg-gradient-to-t from-neutral-950/60 to-40%"></div>
    <img class="absolute flex -z-10 flex-col h-full w-full object-cover " src="{{get_image_path(user.username, user.pictures[0])}}"/>
    {% if lucideIcon %}
    <button @click="() => {
      {{buttonClick}}
      shown=false
      }"   class="ml-auto z-10 m-4 p-2 rounded-full bg-accent-500">
    <i class="w-4 h-4" data-lucide={{lucideIcon}}></i>
    {% endif %}
    </button>
    <div class="p-4 mt-auto z-10">
      <span class="flex flex-row items-center gap-4">
        <h2 class="font-bold text-3xl">{{user['name']}}</h2>
        <p class="text-xl">{{user['age']}}</p>
      </span>
      <p>{{user['location']}}</p>
    </div>
  </div>
  <div class="bg-neutral-50 dark:bg-neutral-800 dark:text-neutral-100">
    {% call profile_section("Bio", False) %}
    <p>
      {{user['bio']}}
    </p>
    {% endcall %}
    {% call profile_section("Interests", False, get_image_path(user.username, user.pictures[1]), "72") %}
      {{interests()}}
    {% endcall %}

  </div>
</div>
{% endmacro %}

{% macro interests() %}
<div class="flex flex-row flex-wrap gap-2">
{% for interest in ["Rock climbing", "Gym", "Nightlife", "Surfing", "Writing"] %}
<p class="text-neutral-900 px-4 py-2 text-sm bg-neutral-100 rounded-full">{{interest}}</p>
{% endfor %}
</div>
{% endmacro %}

{% macro edit_profile(user, closeButton="") %}
<div class="flex flex-col bg-neutral-50 p-8 rounded-lg shadow-md">
  <span class="w-full flex flex-row items-center justify-between">
    <h2 class="text-3xl font-bold">Edit Profile</h2>
    <button class="p-2 w-fit bg-accent-500 text-neutral-50 rounded-full" @click={{closeButton}}>
      <i class="w-4 h-4" data-lucide="x"></i>
    </button>
  </span>

  <h3 class="text-2xl font-semibold mb-2 mt-4">Images</h3>
  <div class="grid grid-cols-3 gap-8">
    {% for i in range(6) %}
    {{forms.profile_image("profileImage" + i|string, get_image_path(user.username, user['pictures'][i] or None))}}
    {% endfor %}
  </div>
  <hr class="border-t-neutral-300 my-8"/>
  <h3 class="text-2xl font-semibold mb-2">Bio</h3>
  {{ forms.textarea("bio", "", user['bio'], 400)}}
  <hr class="border-t-neutral-300 my-8"/>
  <button class="text-sm font-bold px-4 py-2 rounded-md border-accent-500 border-2 w-fit text-accent-500 hover:bg-accent-500 hover:text-neutral-50 transition-all">Save changes</button>
</div>
{% endmacro %}


{% macro profile_buttons(user, request_url="") %}
<div 
  class="fixed flex w-full mb-4 px-4 pt-4 flex-row items-center gap-4 font-bold text-white ">
  <button @click="nope" class="p-2 w-fit bg-red-500 hover:bg-red-600 mr-auto flex flex-row items-center justify-center gap-1 rounded-lg">
    <i data-lucide="x" class="h-4 w-4"/></i>
    <p class="w-fit text-sm">Nope</p>
  </button>
  <button @click="like" class="p-2 w-fit bg-green-500 hover:bg-green-600 flex flex-row items-center rounded-lg justify-center gap-1 ">
    <i data-lucide="heart" class="h-4 w-4"/></i>
    <p class="w-fit text-sm">Like</p>
  </button>
</div>
{% endmacro %}





