
  <!DOCTYPE html>
  <html lang="en" class="h-full">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script type="module" src="{{url_for('static', filename='dist/main.js')}}"></script>
      <link rel="stylesheet" href="{{url_for('static',filename='dist/main.css')}}">    
      <script>
      </script>
      {% block head %}
      {% endblock head %}
      <title>{{title}} - Dating App</title>
    </head>
    {% block body %}

    {% endblock %}

    </html> 


