{% extends "base.html" %}

{% from "includes/navigation.html" import mobile_header with context %} 

{% block body %}
<body class="h-full w-full flex flex-col bg-neutral-50 text-neutral-900 dark:bg-neutral-900 dark:text-neutral-100 font-sans tabular-nums">
      <header>
				
        {% block header %}
        {% endblock header %}
      </header>
      <main id="pagemain" class="flex flex-col-reverse md:flex-row h-full">
        {% include("_nav.html")%}
        <section class="flex flex-col grow overflow-y-scroll max-h-full bg-neutral-100 dark:bg-neutral-900">
          {% block content %}
          {% endblock content %}
        </section>
        <section>
            {% block mobile_header%}
            {% endblock mobile_header%}
        </section>
            </main>
      <footer>
        {% block footer %}{%endblock footer%}
      </footer>


{% endblock %}
